<%= simple_form_for @user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
    <%= f.input :name %>
    <%= f.input :cpf, input_html: {class: "cpf"} %>
    <%= f.input :rg %>
    <%= f.input :registration %>
    <%= f.input :address %>
    <%= f.input :phone1 %>
    <%= f.input :phone2 %>
    <div class="form-group row required">
      <div class="col-sm-3 control-label required">
        <%= f.label :kind %>
      </div>
      <div class="col-sm-9">
        <%= f.select :kind, User.kinds.map { |key, value| [User.human_attribute_name(key), key]}, {include_blank: true}, {class: "form-control"} %>
      </div>
    </div>
    <%= f.input :course %>
    <%= f.input :description %>
  <div class="form-group">
    <div class='col-sm-offset-3 col-sm-9'>
      <%= f.button :submit, class: 'btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  users_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
