<%= simple_form_for @schedule, url: multiple_schedules_path, method: :post, html: { class: 'form-horizontal' }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean } do |f| %>
    <div class="form-group row required">
      <div class="col-sm-3 control-label required">
        <%= f.label :day %>
      </div>
      <div class="col-sm-9">
        <%= f.text_field :day, id: "mdp-demo", autocomplete:"off" %>
      </div>
    </div>    
    <%= f.input :spaces %>
    <% if action_name == 'new' %>
      <%= f.hidden_field :status, :value => Schedule.statuses.key(0) %>
    <% else %>
      <div class="form-group row required">
        <div class="col-sm-3 control-label required">
          <%= f.label :status %>
        </div>
        <div class="col-sm-9">
          <%= f.select :status, Schedule.statuses.keys.collect { |key| [Schedule.human_attribute_name(key), key] },
          {include_blank: true}, {class: "form-control"} %>
        </div>
      </div>
    <% end %>
    <%= f.association :department %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group">
    <div class='col-sm-offset-3 col-sm-9'>
      <%= f.button :submit, class: 'btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  schedules_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
