<%- model_class = Schedule -%>
<div class="row my-2">
  <div class="col-md-10">
    <div class="page-header">
      <h2><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h2>
    </div>
  </div>
  <div class="col-md-2">
    <%= link_to t('.new', default: t("helpers.links.new")), new_schedule_path, class: 'btn btn-primary float-right' %>
  </div>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:day_hour) %></th>
      <th><%= model_class.human_attribute_name(:status) %></th>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:department) %></th>
      <th><%= model_class.human_attribute_name(:requester) %></th>
      <th><%=t '.actions', default: t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%=l schedule.day_hour, format: :datetime %></td>
        <td><%= Schedule.human_attribute_name(schedule.status) %></td>
        <td><%= schedule.user.name %></td>
        <td><%= schedule.department.name %></td>
        <td><%= User.find(schedule.requester).name if schedule.requester %></td>
        <td>
          <% if schedule.status == Schedule.statuses.key(1) %>
            <%= link_to confirmation_schedules_path(schedule), data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Você tem certeza?')) }, class: 'btn btn-xs', title: "Confirmar" do %>
              <%= glyph 'ok-circle' %>
            <%- end -%>
          <% end %>
          <% if schedule.status != Schedule.statuses.key(3) %>
            <%= link_to inativation_schedules_path(schedule), data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Você tem certeza?')) }, class: 'btn btn-xs', title: "Inativar" do %>
              <%= glyph 'minus-sign' %>
            <%- end -%>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="text-center">
  <%= page_entries_info @schedules %>
  <%= paginate @schedules %>
</div>
