<%- model_class = Schedule -%>
<div class="my-2">
  <div class="page-header">
    <h2><%=t '.title', default: model_class.model_name.human.titleize %></h2>
  </div>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:day_hour) %></dt>
      <dd><pre class="prettyprint"><%=l @schedule.day_hour, format: :datetime %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:status) %></dt>
      <dd><pre class="prettyprint"><%= Schedule.human_attribute_name(@schedule.status) %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:user) %></dt>
      <dd><pre class="prettyprint"><%= @schedule.user.name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:department) %></dt>
      <dd><pre class="prettyprint"><%= @schedule.department.name %></pre></dd>
      <dt class="label label-default"><%= model_class.human_attribute_name(:spaces) %></dt>
      <dd><pre class="prettyprint"><%= @schedule.spaces %></pre></dd>
  </dl>
</div>

<div class="form-group">
  <%= link_to t('.back', default: t("helpers.links.back")),
              schedules_path, class: 'btn btn-default'  %>
  <%= link_to t('.edit', default: t("helpers.links.edit")),
              edit_schedule_path(@schedule), class: 'btn btn-default' %>
  <%= link_to t('.destroy', default: t("helpers.links.destroy")),
              schedule_path(@schedule),
              method: 'delete',
              data: { confirm: t('.confirm', default: t("helpers.links.confirm", default: 'Are you sure?')) },
              class: 'btn btn-danger' %>
</div>
