<!DOCTYPE html>
<html>
  <head>
    <title>Agendamentos UFMA Grajaú</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "layouts/shared/navigation" %>
    <div class="container">
      <div class="col-lg-12">
        <div class="page-header"><%= flash_messages %></div>
        <%= yield %>
      </div>
    </div>
  </body>
  <script type="text/javascript">
    jQuery(function($){
      $("#user_cpf").mask("999.999.999-99");
      $("#user_phone1").mask("(99) 9999-9999?9");
      $("#user_phone2").mask("(99) 99999-9999");
      $('#mdp-demo').multiDatesPicker({
        numberOfMonths: 2
      });
    });
  </script>
</html>
